* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

@media (max-width: 961px){
	.container{
		width: auto;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	font-size: 1.6vh;
	font-family: Algerian;
	border: 0.5px solid;
	position: fixed;
	top: 11px;
	left: 0;
	width: 90%;
	padding: 0.5px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 47px;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;
}

.container.sticky {
	background: #D3D3D3;
	padding: 100px 200px;
	box-shadow: 0 10px 19 rgba(0,0,0,0.05);
}

.container {
	width:90%;
	margin:-11px auto;
	color: #FFFFFF;
}
.container a:hover {
	background-color: #424242;
	color:#fff;
	padding: 13px 20px;
	box-shadow: 0 10px 19;
}

.container img {
	font-size: 2px;
	background-size: 272px;
	height: 50px;
}
.banner {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.FSHATRAT-area,
.HISTORIA-area,
.KULTURA-area,
.KONTAKTONI-area{
	height: 110vh;
}

.text-content h3{
	font-size: 30px;
	letter-spacing: 6px;
	margin-bottom: 1px;
	animation: text 3s 1;
	color: #000000;
	padding: 10px 39px;
	width: 96%;
	background-color: #FFFFFF;
	text-align: center;
	font-family: Algerian;
    font-weight: bold;
    font-style: italic;
}

.text-content h2{
	font-size: 30px;
	letter-spacing: 6px;
	margin-bottom: 1px;
	animation: text 3s 1;
	color: #FFFFFF;
	padding: 10px 39px;
	width: 96%;
	left: 110%;
	border: 0.3px solid #000000;
	background-color: #FFFFFF;
	text-align: center;
	font-family: Algerian;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;
}

.container.sticky .img{
	color: #111;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

header h1 {
	float: left;
	padding:14px 0;
	color: #123BE3;
}
header ul {
	font-family: Chaparral Pro Light;
	float: left;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color:#000000;
	color:#fff;
}
.active {
	background-color: #000000;
	color: #fff;
}

.banner {
	font-family: Adobe Heiti Std R;
	height: 78vh;
	border: 0.5px solid;
	background-image: url('../img/vv.png');
	background-size: cover;
	width: 100%;
	height: 930px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(159, 169, 160 .6);
}

.banner .content {
	max-width: 900px;
}

.banner .content h2 {
	font-size: 2.5em;
	color: #fff;
	font-family: Agency FB;

}

.banner h2 {
	margin: 0;
	box-sizing: border-box;
	font-family: Adobe Garamond Pro Bold;
	color: #000000;
	z-index: 1;
	padding: 20px 22px;
}

.container-img {
	max-width: 1200px;
	margin: auto;
	background: #f2f2f2;
	overflow: auto;
}
.container-img h3{
	font-family: Agency FB;
	padding: 30px 33px;
	border: 2px solid #fff;
}

.gallery{
	margin: 27px;
	border: 2px solid #ccc;
	float: left;
	width: 330px;
}

.gallery img{
	width: 110%;
	height: 250px;
}
.video-player h3{
	font-family: Agency FB;
	padding: 5px 3px;
	border: 2px solid #fff;
}
.video-player{
	border: 1px solid #000000;
	padding: 3px 3px;
}

section {
	padding: 50px 0;
} 

section h3 {
	text-align: center;
	padding: 20px 0;
	color: #4A843C;
	margin-bottom: 10px;
}

#container-sidebar {
	position: fixed;
	width: 20px;
	height: 10%;
	background: #000000;
	column-width: 100px;
	box-shadow: 1px solid #000000;

}

.container-sidebar header{
	font-family: Agency FB;
	font-size: 21.5px;
	color: #FFFFFF;
	width: 15%;
	height: 10%;
	text-align: center;
	line-height: 27px;
	background: #000000;
	padding: 10px 20px;
}
.container-sidebar ul {
	list-style: none;
	width: 10%;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	height: 100%;
}

.container-sidebar li a{
	text-decoration: none;
	color: black;
	font-family: Bahnschrift Condensed;
	font-size: 21.5px;
	display: block;
	padding: 0px 29px;
}

.container-sidebar ul li a:hover{
	background-color: #8B8B8B;

}

.imgBx {
	margin: 10px;
	padding: 40px 300px;
	width: 52%;
	height: 330px;
}

/*ul li:hover a{
		
}*/

.historia h2{
	font-family: Agency FB;
	color: #000000;
	padding: 10px 39px;
	width: 96%;
	border: 1px solid #000000;
	background-color: #B2B2B2;
}

.historia p{
	top: 30px;
	font-family: Bahnschrift Condensed;
	font-size: 2.1vh;
	border:30px solid #fff;
}

.historia-img {
	margin: 20px;
	top: 40%;
	float: left;
	width: 328px;
	height: 50%;
	padding: 50px 40px;
}

.desk {
	font-size: 15px;
	font-family: Adobe Heiti Std R;
	padding: 5px;
	text-align: center;
}

.historia-img img {
	width: 115%;
	height: 230px; 
	margin-top: -88px;
}

.kultura p{
	top: 30px;
	font-family: Bahnschrift Condensed;
	font-size: 2.3vh;
	border:30px solid #fff;
}
.kultura-img {
	float: left;
	margin: 10px;
	float: left;
	width: 349px;
	height: 85%;
	padding: 40px 40px;
}
.kultura-img img {
	width: 100%;
	height: 300px;
}

desc {
	font-size: 15px;
	font-family: Adobe Heiti Std R;
	padding: 15px;
	text-align: center;
}

.contact {
	position: relative;
	min-width: 100vh;
	padding: 125px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('../img/op.jpg');
	background-size: cover;
	width: 88%;
	height: 580px;
	float: right;
}

.contact .contactForm {
	top: 40px;
	float: left;
}
.contact .content {
	max-width: 800px;
	text-align: center;
	margin-top: 0;
}

.contact .content h2{
	font-family: Algerian;
	color: #FFFFFF;
	margin-bottom: 13px;
	font-size: 2.1em;
	font-weight: 500;
	cursor: #fff; 
    font-weight: bold;
    font-style: italic;

}
.contact .content p{
	font-weight: 300;
	cursor: #fff; 
}
.container-contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 39px;
}

.container-contact .contactInfo {
	width: 90%;
	display: flex;
	flex-direction: column;

}
.container-contact .contactInfo .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container-contact .contactInfo .box .icon {
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	font-size: 20px;
}

.container-contact .contactInfo .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	cursor: #fff;
	flex-direction: column;
	font-weight: 300;
	color: #FFFFFF;
}
.container-contact .contactInfo .box .text h3 {
	font-size: 17px;
	font-weight: 500;
	color: grey;
	padding: 2px 55px;
}

.contactForm {
	text-align: left;
	width: 155px;
	padding: 30px 40px;
	background: #fff;
	margin-top: -110px;
}
.contactForm h2 {
	text-align: center;
	font-size: 19px;
	color: #333;
	font-weight: 500;
}
.contactForm .inputBox {
	position: relative;
	margin-top: 24px;
	width: 100%;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	padding: 1px 1px;
	font-size: 14px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	resize: none;
	margin-top: -3px;
	transition: 0.5s;
}
.contactForm .inputBox span {
	position: absolute;
	left: 0;
	padding: 0;
	font-size: 14px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
	margin-top: -35px;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span {
	color: #FF1818;
	font-size: 12px;
	transform: translateY(-26px);
}
.contactForm .inputBox input[type="Submit"] {
	width: 100px;
	background: #000000;
	color: #fff;
	border:none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	transition: 0.5s;
	margin-left: 4vh;
}
.paragraph {
	font-family: Adobe Devanagari;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
}

/*@media (max-width: 991px) 
{
	.contact
	{
		padding: 50px;

	}
	.container
	{
		flex-direction: column;
	}

}*/

.centerdiv {

	font-size: 20px;
	border-bottom: 10px solid black;
	color: #FFFFFF;
	background: #000000;
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 3px;
}

.signup-box1{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: black;
	background-color: white;
	border: 1px;
	border-radius: 6px;
	margin-top: 6px;
}

/*Slider*/
.showSlide{  
    display: none;
}

.showSlide img{  
    width: 100%;
}

.slidercontainer{
    max-width: 1000px;
	position: relative;
    margin: auto;
	margin-right: 53px;
	margin-top: -56px;
}

.left, .right{
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}

.right{
    right: 0;  
    border-radius: 3px 0 0 3px;  
} 

.left:hover, .right:hover{
	background-color: rgba(115, 115, 115, 0.8);  
}

.content{
	color: #eff5d4;  
	font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}

.active{  
    background-color: #717171;  
} 

.fade{  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}

.slidercontainer .showSlide img{
    height: 560px;
}

@-webkit-keyframes fade{  
    from{  
        opacity: .4  
    }  
    to{  
    	opacity: 1  
    }  
}  

@keyframes fade{  
    from{  
        opacity: .4  
    }  
    to{  
        opacity: 1  
    }  
}